<!DOCTYPE HTML>
<!-- presentation/nieuwboekForm.php -->
<html>

<head>
        <meta charset=utf-8>
        <title>Boeken</title>
</head>

<body>
        <h1>Nieuw boek toevoegen</h1>
        
        {% if error and error === "titelbestaat" %}
                <p style="color: red">Titel bestaat al!</p>
        {% endif %}
       
        <form method="post" action="voegboektoe.php?action=process">
                <table>
                        <tr>
                                <td>Titel:</td>
                                <td>
                                        <input type="text" name="txtTitel" />
                                </td>
                        </tr>
                        <tr>
                                <td>Genre:</td>
                                <td>
                                        <select name="selGenre">
                                                {% for genre in genreLijst %}
                                                        <option value="{{genre.id}}">{{genre.genreNaam}}</option>
                                                {% endfor %}
                                        </select>
                                </td>
                        </tr>
                        <tr>
                                <td></td>
                                <td>
                                        <input type="submit" value="Toevoegen" />
                                </td>
                        </tr>
                </table>
        </form>
</body>

</html>